.logo {
    width: 50%;
    height: auto;
}

#results {
    width: 90%;
    border-radius: 10px;
    border-color: black;
    border-width: 0.8px;
    border-style: solid;
    margin: auto;
    width: 800px;
}

#googleLensResults, #mobileNetResults, #objectName, #testResult {
    font-size: 18px;
    font-family: Georgia;
    color: whitesmoke;
}

p {
    background-color: pink;
    border: darkmagenta;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    width: 70%;
    color: white;
    font-family: 'Syne Mono';
    text-align: left;
    padding: 20px;
    font-size: 18px;
}